site_name: AppPack Docs
docs_dir: src
site_dir: public
site_url: !ENV [SITE_URL, "http://localhost:8000/"]
use_directory_urls: true
markdown_extensions:
  - attr_list
  - footnotes
  - abbr
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
plugins:
  - search
  - macros
  - literate-nav:
      nav_file: _navigation.md
repo_url: https://github.com/apppackio/apppack-docs/
edit_uri: edit/main/src/
extra_css:
  - stylesheets/extra.css
exclude_docs: |
  _navigation.md
theme:
  name: material
  custom_dir: theme_overrides
  palette:
    primary: slate blue
  logo: assets/mark-white.svg
  favicon: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github
validation:
  links:
    absolute_links: relative_to_docs
