---
name: build

on:
  push: {}
  workflow_dispatch: {}

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked

      - name: CLI docs
        run: |
          set -ex
          CLI_DOWNLOAD_URL=$(curl -s https://api.github.com/repos/apppackio/apppack/releases/latest | jq -r '.assets[]|select(.name|contains("Linux_x86_64")).browser_download_url')
          curl -sLo apppack.tar.gz "$CLI_DOWNLOAD_URL"
          tar xvzf apppack.tar.gz
          chmod +x apppack
          ./apppack docgen --directory src/command-line-reference
      - name: Build
        run: APPPACK_VERSION=$(./apppack version) make build
      - uses: actions/upload-artifact@v5
        with:
          path: public
          retention-days: 3
  deploy:
    needs: [build]
    runs-on: ubuntu-24.04
    if: github.ref == 'refs/heads/deploy/prod'
    environment: production
    env:
      AWS_DEFAULT_REGION: us-east-1
      AWS_ROLE_ARN: "arn:aws:iam::101287669015:role/docs-github-actions"
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - name: Deploy
        run: mv artifact public && make deploy
